@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add dark mode styles */
:root {
  color-scheme: dark;
}

body {
  @apply bg-gray-900 text-white;
}

li {
  list-style-type: square;
  margin-left: 30px;
  padding: 2px;
}
